{{ partial "header.html" . }}

<section id=content>
  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

  <div id=sub-header>
    {{ if (not (eq .Lastmod .Date)) }}Updated {{ .Lastmod.Format (.Site.Params.dateform | default "January 2006") }} · {{end}}Created {{ .Date.Format (.Site.Params.dateform | default "January 2006") }}
  </div>

  <div class="entry-content">
    {{ .Content }}
  </div>

{{ partial "comments.html" . }}

  <div id=links>
    {{ if .PrevInSection }}
      <a class="basic-alignment left" href="{{.PrevInSection.Permalink}}">&laquo; {{.PrevInSection.Title}}</a>
    {{ end }}
    {{ if .NextInSection }}
      <a class="basic-alignment left" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} &raquo;</a>
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}
